
<script src="{{ site.baseurl }}/static/js/google.jquery.min.js"></script>
<script src="{{ site.baseurl }}/static/js/jquery-migrate-1.2.1.min.js"></script>
<script src="{{ site.baseurl }}/static/js/bootstrap.bootstrap.min.js"></script>
<script src="{{ site.baseurl }}/static/js/thickbox-compressed.js"></script>
<script src="{{ site.baseurl }}/static/js/material.min.js"></script>
<script src="{{ site.baseurl }}/static/js/main.js"></script>
<script src="{{ site.baseurl }}/static/js/projects.js"></script>
